

.contactInner{
    width: 90%;
    margin: auto;
}
.schoolLogo{
    height: 6rem;
    width: 6rem;
    margin-top: 3rem;
}
.schoolContact{
    line-height: 1.75;
    font-weight: 600;
}
.schoolContact h4{
    margin: 12px 0;
}
.schoolContact p{
    letter-spacing: 1.1px;
}