
.carouselDiv{
    position: relative;
}
.carouselDiv img{
    height: 80vh;
    width: 100vw;
}
.carouselDiv .carouselDivInner{
    position: absolute;
    top: 20rem;
    left: 20rem;
    z-index: 10;
    color: white;
}

.homeFooterDiv{
    margin: -8px;
}

.IntroDiv{
    background-color: #1a3226;
}