header{
    width: 100%;
    background-color: #1a3226;
    color: white;
    padding: 10px;
    
}

.linkContainer{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}